<div class="bg-body">

  <p class="description-text">CMS Provider Matching Service is a part of the Medicare Payment System Modernization (MPSM) Portal. Goal of the Modernization of the Medicare Fee for Service (FFS) shared systems to enable flexible development and real-time system-to-system integrations with systems across the Centers for Medicare and Medicaid Services (CMS).
  </p>
<div class="az-signin-wrapper">
  <div class="az-card-signin">
    <h1 class="az-logo"><img src="../../assets/img/Logo-CMS@1x-O.png" alt=""></h1>
    <div class="az-signin-header">
      <h2>Welcome back!</h2>
      <h4>Please sign in to continue</h4>

     
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Enter your email" value={{userName}}>
        </div><!-- form-group -->
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Enter your password" value={{password}}>
        </div><!-- form-group -->
        <a routerLink="landing"><button class="btn btn-az-primary btn-block" >Sign In</button></a>
        
    </div><!-- az-signin-header -->
    <div class="az-signin-footer">
      <p><a href="">Forgot password?</a></p>
    </div><!-- az-signin-footer -->
  </div><!-- az-card-signin -->
</div><!-- az-signin-wrapper -->
</div>